.image-container {
  max-height: 300px;
  width: 200px;
  margin-left: 10px;
  position: relative;
}
.image-container > .icon-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}
.favorite-image {
  height: auto;
  width: inherit;
}
