.imageContainer {
  display: grid;
  place-items: center;
  position: relative;
  max-width: 300px;
}

.imageContainer > .icon-btn {
  position: absolute;
  top: 15px;
  right: 5px;
}
.imageThumb {
  width: 100%;
  margin: 10px;
}

.imageAuthor {
  font-size: 1.2rem;
  margin: 0;
}
