main {
  display: grid;
  place-items: center;
}
.randomBtn {
  margin-top: 20px;
  background-color: rgb(65, 65, 65);
  height: 2rem;
  border-radius: 15px;
  color: white;
}

.favorite-container {
  height: 200px;
  display: flex;
}
