@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}
